* {
  font-family: "Montserrat", sans-serif;

}
html {
  background-image: linear-gradient(13deg, #d5d6d6, #adb2b8);
  background-attachment: fixed;
}

h1 {
  color: #1e1e1e;
  filter: blur(.5px);
}

h3 {
  margin-top: 5rem;
  color: #0e39f8;
  filter: blur(.5px);
  font-weight: unset;
}

.flexbox-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 200px;
  justify-content: center;
  flex-direction: row;
}

.page-count{
  margin: 30% 48%;
  color: rgb(218, 80, 16);
  filter: blur(0.6px);
  font-weight: bold;
  filter: blur(0.6px);
}

.flexbox-item {
  margin: 10px;
  width: 500px;
  height: 450px;
  /* border: 3px solid #333; */
}

.card {
  background-image: linear-gradient(315deg, #c2c8ce, #c4c7c7);
  display: inline-block;
  text-align: justify;
  border-radius: 20px;
  box-shadow:  -7px -7px 14px #7d8187,
  7px 7px 14px #e4e3e3;
  padding: 30px;
  margin: 5px;
  border: none;
  height: 382px;
}

#checkbox-button input[type="radio"] {
  display: none;
}

#checkbox-button span {
  background-image: linear-gradient(315deg, #c2c8ce, #c4c7c7);
  display: inline-block;
  padding: 30px;
  border: none;
  border-radius: 20px;
  color: #0e39f8;
  height: 2.5rem;
  width: 80%;
  text-align: justify;
  font-weight: unset;
  margin: 6px;
  box-shadow:  -7px -7px 14px #7d8187,
  7px 7px 14px #f5f3f3;
  cursor: pointer;
  filter: blur(.5px);
}

#checkbox-button span:hover {
  color: #fff;
  background-image: linear-gradient(to right, rgb(124, 52, 219), rgba(14, 49, 250, 0.836));
  font-weight: bold;
  transition: all .7s;
  box-shadow:  -7px -7px 14px #FFF,
  7px 7px 14px #7d8187;
  transition: all .5s;
  border: none;
}
#checkbox-button input[type="radio"]:checked + span {
  background-image: linear-gradient(15deg, #3e5bff, #4960dd);
  color: white;
  font-weight: bold;
  border: none;
  box-shadow:  -7px -7px 14px #2f3031,
  7px 7px 15px #ffffff;
}

.btn-p {
  margin: -25% 37%;
  }

.btn {
  padding: 15px;
  background-color: #cdd4dd;
  color: #1e1e1e;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  box-shadow:  -7px -7px 14px #ffffff,
  7px 7px 14px #7d8187;
  width: 130px;
  align-items: center;
  filter: blur(.4px);
}

.btn:hover {
  background-image: linear-gradient(to right, rgb(124, 52, 219), rgba(14, 49, 250, 0.836));
  transition: all 0.5s;
  cursor: pointer;

  color: white;
  box-shadow:  -7px -7px 14px #7d8187,
  7px 7px 14px #ffffff;

}

.btn-hide {
  padding: 15px;
  background-image: linear-gradient(315deg, #9f9aad, #c4c7c8);
  color: #7d8187;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  width: 130px;
  align-items: center;
  filter: blur(.4px);
}
/* footer */

footer {
  margin-top: 100px;
  text-align: center;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: rgb(218, 80, 16);
  font-weight: bolder;
}

@media all and (max-width: 1078px ) {

  h1 {
    text-align: center;
    color: #1e1e1e;
    filter: blur(.5px);
    font-size: 6vw;
  }

  h3 {
    font-size: 4.5vw;
    margin-top: 6vw;
    color: #0e39f8;
    filter: blur(.5px);
    padding: 2px 50px;
    font-weight: unset;
  }

  .flexbox-container {
    margin-top: 25px;
    row-gap: 150px;
  }

  .page-count{
    margin: 5% 49%;
    font-size: 2vw;
    justify-content: center;
    color: rgb(218, 80, 16);
  }

  .flexbox-item {
    width: 95%;
    /* border: 3px solid #333; */
  }

  .card {
    padding: 30px;
    height: 33rem;
  }

  #checkbox-button span {
    height: 4.9rem;
    width: 86%;
    text-align: center;
    font-size: 3.3vw;
    padding: 30px 60px;
  }
  
  .btn-p {
    margin: 75% 30%;
  }  

  .btn {
    display: block;
    color: rgb(29, 28, 28);
    font-size: 1.5rem;
    filter: blur(.4px);
    width: 380px;
    height: 5.5rem;
  }

  .btn-hide {
    background-image: linear-gradient(315deg, #9f9aad, #c4c7c8);
    font-size: 1.5rem;
    width: 380px;
    height: 5.5rem;
    filter: blur(.4px);
  }

  /* footer */

footer {
  margin-top: 300px;
  text-align: center;
  width: 100%;
  height: 2.5rem;
}

}

@media screen and (max-width: 978px){


}

@media screen and (max-width: 600px) {

}