* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
html {
  background-image: linear-gradient(315deg, #d5d6d6, #adb2b8);
  background-attachment: fixed; 
  background-size: cover;
}

h1 {
  text-decoration: wavy;
  color: #1e1e1e;
  filter: blur(.5px);
}

h3 {
  margin-top: 5rem;
  color: #0e39f8;
  filter: blur(.5px);
}

.flexbox-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  margin-top: 200px;
  justify-content: center ;
  flex-direction: row;
  
}
.page-count{
  margin: 30% 45%;
  color: rgb(29, 28, 28);
  filter: blur(0.6px);
}

.flexbox-item {
  margin: 10px;
  width: 500px;
  height: 450px;

  /* border: 3px solid #333; */

}

.card {
  background-image: linear-gradient(315deg, #c2c8ce, #c4c7c7);
  display: inline-block;
  text-align: justify;
  border-radius: 20px;
  box-shadow:  -7px -7px 14px #7d8187,
  7px 7px 14px #e4e3e3;
  padding: 30px;
  height: 2.5rem;
  margin: 5px;
  border: none;
  height: 382px;
}

#checkbox-button input[type="radio"] {
  display: none;
}

#checkbox-button span {
  background-image: linear-gradient(315deg, #c2c8ce, #c4c7c7);
  display: inline-block;
  padding: 30px;
  border: none;
  border-radius: 20px;
  color: rgb(81, 19, 253);
  height: 2.5rem;
  width: 382px;
  text-align: justify;
  font-weight: bold;
  margin: 6px;
  box-shadow:  -7px -7px 14px #7d8187,
  7px 7px 14px #f5f3f3;
  cursor: pointer;
}

#checkbox-button span:hover {
  color: #fff;
  background-image: linear-gradient(to right, rgb(122, 108, 139), rgba(252, 167, 57, 0.836));
  font-weight: bold;
  transition: all .7s;
  box-shadow:  -7px -7px 14px #FFF,
  7px 7px 14px #7d8187;
  transition: all 1s;
}
#checkbox-button input[type="radio"]:checked + span {
  background-image: linear-gradient(15deg, #3e5bff, #4960dd);
  color: white;
  font-weight: bold;
  border: none;
  box-shadow:  -7px -7px 14px #2f3031,
  7px 7px 15px #ffffff;
}

.btn-p {
  margin: -25% 37%;
  }

.btn {
  padding: 15px;
  background-color: #cdd4dd;
  color: #1e1e1e;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  box-shadow:  -7px -7px 14px #ffffff,
  7px 7px 14px #7d8187;
  width: 130px;
  align-items: center;
  filter: blur(.4px);
}

.btn:hover {
  background-image: linear-gradient(to right, rgb(124, 52, 219), rgba(14, 49, 250, 0.836));
  transition: all 0.5s;
  cursor: pointer;

  color: white;
  box-shadow:  -7px -7px 14px #7d8187,
  7px 7px 14px #ffffff;

}

.btn-hide {
  padding: 15px;
  background-color: #cdd4dd;
  color: #7d8187;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  width: 130px;
  align-items: center;
  filter: blur(.4px);
}
/* footer */

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: rgb(218, 80, 16);
 
}

